{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Yqueuer{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "main.css" %}">

    <script type="text/javascript">
      window.onerror = function (msg, m_url, lineNo, columnNo, error) {
        $.ajax({
          method: "POST",
          url: "/api/post_jserror/",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          data: {
            'msg' : msg || 'unknown',
            'url' : m_url || 'unknown',
            'lineNo' : lineNo || 'unknown',
            'columnNo' : columnNo || 'unknown',
            'error' : error || 'unknown'
          },
          success:  function(result){
            // console.log('post_jserror','success', result);
          },
          error: function(xhr,status,error){
            // console.log('post_jserror','success', xhr,status,error);
          }
        });

        return false;
      }
    </script>

    {% block head_block %}{% endblock %}
  </head>

  <body>
    <div class="menu">
      <ul>
      {% if user.is_authenticated %}
        <li><a class="{% if request.resolver_match.url_name == "player" %}active{% endif %}"  href="/player/">Player</a></li>
        <li><a class="{% if request.resolver_match.url_name == "manage" %}active{% endif %}" href="/manage/">Manage</a></li>
        <li class="logout"><a class="{% if request.resolver_match.url_name == "logout" %}active{% endif %}" href="/logout/">Logout</a></li>
      {% else %}
        <li><a class="{% if request.resolver_match.url_name == "register" %}active{% endif %}" href="/register/">Register Here</a></li>
        <li><a class="{% if request.resolver_match.url_name == "login" %}active{% endif %}" href="/login/">Login</a></li>
      {% endif %}
      </ul>
    </div>

    <div class="content">
      {% block body_block %}{% endblock %}
    </div>

    <div class="footer">
      {% block footer_block %}{% endblock %}
    </div>

  </body>
</html>