{% extends 'frontend/base.html' %}
{% load static %}

{% block body_block %}
  <script src="{% static "javascript/dev_jquery-3.1.1.js" %}"></script>

  <div id="add_channel">
    <span>
      Add Channel:
      <input id="add_channel_youtube_url" type="text" size="50" name="youtube_url" placeholder="Youtube URL">
      <button id="add_channel_submit"> Submit </button>
      <span id="add_channel_result"></span>
      <br>
      <small>
        - Youtube Video URL: Adds video's channel and register all prior videos as watched.<br>
        - Youtube Channel URL: Adds respective channel and all of its videos as unwatched.
      </small>
    </span>
  </div>
  <!--
  <div id="update_channel_library">
    <span>
      Update Channel Library:
      <input id="update_channel_library_channel" type="text" name="channel_name" placeholder="Channel Name">
      <button id="update_channel_library_submit"> Submit </button>
      <span id="update_channel_library_result"></span>
    </span>
  </div>
  -->

  <div id="get_channels">
    <span>
      Get Channels:
      <span id="get_channels_list" style="display:inline-block"></span>
      <button id="get_channels_submit"> Submit </button>
      <span id="get_channels_result"></span>
    </span>
  </div>


  <script type="text/javascript">
    function log() {
      console.log('_Y_',arguments);
    }

    $( document ).ready(function() {
      log( "manage ready!" );
      var add_channel = {
        'div' : $("#add_channel"),
        'youtube_url' : $("#add_channel_youtube_url"),
        'submit' : $("#add_channel_submit"),
        'result' : $("#add_channel_result"),
      }
      add_channel.submit.on('click', function(e) {
        log ('add_channel.submit');
        log(add_channel.youtube_url.val());
        var youtube_url = add_channel.youtube_url.val();
        add_channel.result.text('processing...');
        add_channel.div.find(":input").attr("disabled", true);
        $.ajax({
          method: "POST",
          url: "/api/add_channel/",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          data: {
            'youtube_url' : youtube_url,
          },
          success: function(result){
            add_channel.div.find(":input").attr("disabled", false);
            if(result.success) {
              add_channel.result.text('success! added channel ' + result.data.channel_title + (result.data.last_vid_id ? ' with last video ' + result.data.last_vid_id : ''));
            } else if(result.error) {
              add_channel.result.text('error: ' + result.error);
            }
          },
          error: function(xhr,status,error){
            log('add_channel','error', xhr,status,error);
            add_channel.div.find(":input").attr("disabled", false);
            add_channel.result.text('error');
          }
        });
      });

      // var update_channel_library = {
      //   'div' : $("#update_channel_library"),
      //   'channel_name' : $("#update_channel_library_channel"),
      //   'submit' : $("#update_channel_library_submit"),
      //   'result' : $("#update_channel_library_result"),
      // }
      // update_channel_library.submit.on('click', function(e) {
      //   log ('update_channel_library.submit');
      //   log(update_channel_library.channel_name.val());
      //   var channel_name = update_channel_library.channel_name.val();
      //   update_channel_library.result.text('processing...');
      //   update_channel_library.div.find(":input").attr("disabled", true);
      //   $.ajax({
      //     method: "POST",
      //     url: "/api/update_channel_library/",
      //     headers: {'X-CSRFToken': '{{ csrf_token }}'},
      //     data: { 'channel_name' : channel_name },
      //     success: function(result){
      //       update_channel_library.div.find(":input").attr("disabled", false);
      //       if(result.success) {
      //         update_channel_library.result.text('success: ' + result.data.updated + ' videos updated');
      //       } else if(result.error) {
      //         update_channel_library.result.text('error: ' + result.error);
      //       }
      //     },
      //     error: function(xhr,status,error){
      //       log('update_channel_library','error', xhr,status,error);
      //       update_channel_library.div.find(":input").attr("disabled", false);
      //       update_channel_library.result.text('error');
      //     }
      //   });
      // });

      var get_channels = {
        'div' : $("#get_channels"),
        'channels_list' : $("#get_channels_list"),
        'submit' : $("#get_channels_submit"),
        'result' : $("#get_channels_result"),
      }
      get_channels.submit.on('click', function(e) {
        log ('get_channels.submit');
        get_channels.channels_list.text('');
        get_channels.result.text('processing...');
        get_channels.div.find(":input").attr("disabled", true);
        $.ajax({
          method: "GET",
          url: "/api/get_channels/",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          success: function(result){
            get_channels.div.find(":input").attr("disabled", false);
            if(result.success) {
              get_channels.result.text('success');
              channels = result.data.channels;
              var list = $('<ul>');

              for(var i = 0; i < channels.length; i++) {
                  var item = $('<li>');
                  var thumbnail = $('<img class="channel_thumbnail">');
                  thumbnail.attr('src', channels[i].thumbnails);
                  var title = $('<span>');
                  title.text(channels[i].title + ' (user: ' + channels[i].username + ') [id: ' + channels[i].id + ']');

                  item.append(thumbnail);
                  item.append(title);

                  list.append(item);
              }

              get_channels.channels_list.append(list);
            } else if(result.error) {
              get_channels.result.text('error: ' + result.error);
            }
          },
          error: function(xhr,status,error){
            log('get_channels','error', xhr,status,error);
            get_channels.div.find(":input").attr("disabled", false);
            get_channels.result.text('error');
          }
        });
      });

    });
  </script>
{% endblock %}