{% extends 'frontend/base.html' %}
{% load static %}

{% block head_block %}
  <script src="{% static "javascript/dev_jquery-3.1.1.js" %}"></script>
  <script type="text/javascript">

    function log() {
      console.log('_Y_',arguments);
    }

    function YQ_Player (div_id,videos, opts) {
      this.m_div_id = div_id;
      this.m_cur_index = 0;
      this.m_store_watched_cb = opts.store_watched;

      this.m_videos_dataset = videos;
      this.m_videos_ids = videos.map(function(e) {return e.id});

      this._onPlayerReady = function(event) {
        this.m_player.cuePlaylist(this.m_videos_ids.slice(0, this.m_cur_index+1), this.m_cur_index);
      }

      this._onPlayerStateChange = function(event) {
        var playerStatus = event.data;
        var state;

        // Update Video's Title
        var vdata = this.m_player.getVideoData();
        title.innerHTML = vdata.author + " - " + vdata.title;

        if (playerStatus == -1) {
          // state = 'unstarted'
        } else if (playerStatus == 0) {
          state = 'ended'
          this.endVideo();

          // log(this.m_videos_ids.slice(0, this.m_cur_index+1), this.m_cur_index);
        } else if (playerStatus == 1) {
          // state = 'playing'
        } else if (playerStatus == 2) {
          // state = 'paused'
        } else if (playerStatus == 3) {
          // state = 'buffering'
        } else if (playerStatus == 5) {
          // state = 'cued'
        } else {
          // state = '_else_';
        }
        // log (state, this.m_player.getPlaylistIndex(), vdata.title, vdata.author, vdata.video_id, this.m_videos_ids);
      }

      this._playNextVideo = function() {
        if (this.m_cur_index >= this.m_videos_ids.length - 1) {
          this.m_player.stopVideo();
        } else {
          this.m_cur_index++;
          this.m_player.loadPlaylist(this.m_videos_ids.slice(0, this.m_cur_index+1), this.m_cur_index);
        }
      }

      this._storeWatched = function() {
        var playlist_index = this.m_player.getPlaylistIndex();
        this.m_store_watched_cb(this.m_videos_ids[playlist_index]);
      }

      this.m_player = new YT.Player(this.m_div_id, {
          events: {
            'onReady': this._onPlayerReady.bind(this),
            'onStateChange': this._onPlayerStateChange.bind(this)
          }
      });

      log ('new', div_id, opts, this);
    }

    YQ_Player.prototype.skipVideo = function() {
      this._playNextVideo();
    }

    YQ_Player.prototype.endVideo = function() {
      this._storeWatched();
      this._playNextVideo();
    }

    var title;
    var player;
    var videos = [];

    function FetchVideos(success_cb, error_cb) {
      log('FetchVideos');
      $.ajax({
        method: "GET",
        url: "/api/get_videos/",
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
{% if channel_list %}
        data: { 'channel_list' : '{{ channel_list }}' },
{% endif %}
        success:  function(result){
          log('FetchVideos','success', result);
          videos = result.data.videos;
          if (success_cb)
            success_cb();
        },
        error: function(xhr,status,error){
          log('FetchVideos','error', xhr,status,error);
          if (error_cb)
            error_cb();
        }
      });
    }

    function InitPlayer() {
      log("InitPlayer");
      var tag = document.createElement('script');
      tag.id = 'iframe-demo';
      tag.src = 'https://www.youtube.com/iframe_api';
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    }

    function onYouTubeIframeAPIReady() {
      log("YT API READY");
      player = new YQ_Player(
          'player-iframe',
          videos,
          {'store_watched': storeWatchedCb}
      );
      title = document.getElementById('video-title');
    }

    function Skip() {
      player.skipVideo();
    }

    function End() {
      player.endVideo();
    }

    function storeWatchedCb(vid_id) {
      console.log('storeWatchedCb', vid_id);
      $.ajax({
        method: "POST",
        url: "/api/mark_watched/",
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: { y_video_id : vid_id },
        success: function(result){
          log('storeWatchedCb','success', result);
        },
        error: function(xhr,status,error){
          log('storeWatchedCb','error', xhr,status,error);
        }
      });
    }

    function InitList() {
      log("InitList");
      var div_list = document.getElementById('list');

      var list = document.createElement('ol');

      for(var i = 0; i < videos.length; i++) {
          // Create the list item:
          var item = document.createElement('li');

          // Set its contents:
          item.appendChild(document.createTextNode(videos[i].channel_title + " - " + videos[i].title));

          // Add it to the list:
          list.appendChild(item);
      }

      div_list.appendChild(list);
    }

    FetchVideos(function(){InitPlayer();InitList();});

  </script>
{% endblock %}



{# #####################################BODY########################### #}
{% block body_block %}

<!-- Content Top -->
<div class="content-top">
  <div class="row">
    <div class="channel-selector">
      <form method="get">
        <div class="col-12">
          <ul>
{% for channel in all_channels %}
            <li>
              <label><img class="channel_thumbnail" src={{ channel.thumbnails }}>
  {% if channel.name in channel_list or not channel_list %}
              <input type="checkbox" checked="True" name="channel" value="{{ channel.name }}">{{ channel.title }}
  {% else %}
              <input type="checkbox" name="channel" value="{{ channel.name }}">{{ channel.title }}
  {% endif %}
              </label>
            </li>
{% endfor %}
          </ul>
        </div>
        <div class="col-2">
          <input class="btn" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Content Center -->
<div class="content-center">
  <div class="row">
    <div class="col-12">
      <div class="video-title-container">
        <h2 id="video-title"></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="player">
        <div>
          <iframe id="player-iframe"
            src="https://www.youtube.com/embed/?enablejsapi=1"
            frameborder="0"
            allowfullscreen="1"
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <span style="visibility: hidden;">hack</span>
    </div>
    <div class="col-3 action-group">
      <button class="btn btn-skip" onclick="Skip()">Skip</button>
    </div>
    <div class="col-3 action-group">
      <button class="btn btn-end" onclick="End()">End</button>
    </div>
  </div>
</div>

<!-- Content Bottom -->
<div class="content-bottom">
  <div class="row">
    <div class="col-12">
      <div id="list"></div>
    </div>
  </div>
</div>

{% endblock %}
