{% extends 'frontend/base.html' %}
{% load static %}

{% block head_block %}
  <script src="{% static "javascript/lib/dev_jquery-3.1.1.js" %}"></script>
  <script src="{% static "javascript/lib/annyang-2.6.0.min.js" %}"></script>
  <script src="{% static "javascript/speech_recognition.js" %}"></script>
  <script type="text/javascript">
    Y = {
      'DEBUG' : {{ debug }},
    };
    function INFO() {
      if (Y.DEBUG)
        console.log('_Y_',arguments);
    }

    function YQ_Player (div_id, videos, opts) {
      this.m_div_id = div_id;
      this.m_cur_index = 0;
      this.m_store_watched_cb = opts.store_watched;
      this.m_store_playbackrate_cb = opts.store_playbackrate;

      this.m_videos_dataset = videos;
      this.m_videos_ids = videos.map(function(e) {return e.id});

      // User Preferences
      this.m_current_video_playback_rate = {{ preferences.video_playback_rate }};

      this._onPlayerReady = function(event) {
        this.m_player.cuePlaylist(this.m_videos_ids.slice(0, this.m_cur_index+1), this.m_cur_index);
        // Set Player video playback rate preference
        this.m_player.setPlaybackRate(this.m_current_video_playback_rate);
      }

      this._onPlaybackRateChange = function(event) {
        var new_playback_rate = event['data']
        if( this.m_store_playbackrate_cb
          && new_playback_rate != this.m_current_video_playback_rate
        ) {
          this.m_current_video_playback_rate = new_playback_rate;
          var video_playback_rate = this.m_player.getPlaybackRate();
          this.m_store_playbackrate_cb(video_playback_rate);
        }
      }

      this._onPlayerStateChange = function(event) {
        var playerStatus = event.data;
        var state;
        var curVideoInfo = this.m_videos_dataset[this.m_cur_index];
        var publishDate = curVideoInfo.published_at.split(' ')[0];
        // Update Video's Title
        var vdata = this.m_player.getVideoData();
        title.innerHTML = curVideoInfo.channel_title + " - " + curVideoInfo.title;
        published_at.innerHTML = publishDate;

        if (playerStatus == -1) {
          state = 'unstarted'
          if(vdata.title != "") {
            var s = this;
            setTimeout(function(){
              INFO('unstarted TIMEOUT');
              INFO("unstarted TIMEOUT STATE", s.m_player.getPlayerState());
              if (s.m_player.getPlayerState() == -1)
                s.m_player.playVideo();
                INFO('unstarted TIMEOUT force play');
            }, 3000);
          }
        } else if (playerStatus == 0) {
          state = 'ended'
          this.endVideo();

          // INFO(this.m_videos_ids.slice(0, this.m_cur_index+1), this.m_cur_index);
        } else if (playerStatus == 1) {
          state = 'playing'
        } else if (playerStatus == 2) {
          state = 'paused'
        } else if (playerStatus == 3) {
          state = 'buffering'
        } else if (playerStatus == 5) {
          state = 'cued'
        } else {
          state = '_else_';
        }
        INFO(state, this.m_player.getPlaylistIndex(), vdata.title, vdata.author, vdata.video_id, this.m_videos_ids, vdata);
      }

      this._playNextVideo = function() {
        if (this.m_cur_index >= this.m_videos_ids.length - 1) {
          this.m_player.stopVideo();
        } else {
          this.m_cur_index++;
          this.m_player.loadPlaylist(this.m_videos_ids.slice(0, this.m_cur_index+1), this.m_cur_index);
        }
      }

      this._storeWatched = function() {
        var playlist_index = this.m_player.getPlaylistIndex();
        this.m_store_watched_cb(this.m_videos_ids[playlist_index]);
      }

      this._playVideo = function() {
        this.m_player.playVideo();
      }

      this._pauseVideo = function() {
        this.m_player.pauseVideo();
      }

      this._restartVideo = function() {
        this.m_player.seekTo(0);
      }

      this.m_player = new YT.Player(this.m_div_id, {
          playerVars : {'controls' : 0},
          events: {
            'onReady': this._onPlayerReady.bind(this),
            'onStateChange': this._onPlayerStateChange.bind(this),
            'onPlaybackRateChange': this._onPlaybackRateChange.bind(this)
          }
      });

      INFO('new', div_id, opts, this);
    }

    YQ_Player.prototype.skipVideo = function() {
      this._playNextVideo();
    }

    YQ_Player.prototype.endVideo = function() {
      this._storeWatched();
      this._playNextVideo();
    }

    YQ_Player.prototype.playVideo = function() {
      this._playVideo();
    }

    YQ_Player.prototype.pauseVideo = function() {
      this._pauseVideo();
    }

    YQ_Player.prototype.restartVideo = function() {
      this._restartVideo();
    }


    var title;
    var published_at;
    var player;
    var speech_recognitier;
    var videos = [];

    function FetchVideos(success_cb, error_cb) {
      INFO('FetchVideos');
      $.ajax({
        method: "GET",
        url: "/api/get_videos/",
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
{% if channel_list %}
        data: { 'channel_list' : '{{ channel_list }}' },
{% endif %}
        success:  function(result){
          INFO('FetchVideos','success', result);
          videos = result.data.videos;
          if (success_cb)
            success_cb();
        },
        error: function(xhr,status,error){
          INFO('FetchVideos','error', xhr,status,error);
          if (error_cb)
            error_cb();
        }
      });
    }

    function InitPlayer() {
      INFO("InitPlayer");
      var tag = document.createElement('script');
      tag.id = 'iframe-demo';
      tag.src = 'https://www.youtube.com/iframe_api';
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    }

    function onYouTubeIframeAPIReady() {
      INFO("YT API READY");
      player = new YQ_Player(
          'player-iframe',
          videos,
          {
            'store_watched': storeWatchedCb,
            'store_playbackrate': storePlaybackRateCb,
          }
      );
      title = document.getElementById('video-title');
      published_at = document.getElementById('video-published_at');
    }

    function Skip() {
      player.skipVideo();
    }

    function End() {
      player.endVideo();
    }

    function Play() {
      player.playVideo();
    }

    function Pause() {
      player.pauseVideo();
    }

    function Restart() {
      player.restartVideo();
    }

    function ToggleSpeech() {
      if(speech_recognitier.isListening()) {
        speech_recognitier.stop();
      } else {
        speech_recognitier.start();
      }
    }

    function storeWatchedCb(vid_id) {
      $.ajax({
        method: "POST",
        url: "/api/mark_watched/",
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: { y_video_id : vid_id },
        success: function(result){
          INFO('storeWatchedCb','success', result);
        },
        error: function(xhr,status,error){
          INFO('storeWatchedCb','error', xhr,status,error);
        }
      });
    }
    function storePlaybackRateCb(video_playback_rate) {
      INFO('storePlaybackRateCb', video_playback_rate);
      $.ajax({
        method: "POST",
        url: "/api/set_video_playback_rate/",
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: { 'video_playback_rate' : video_playback_rate },
        success: function(result){
          INFO('storePlaybackRateCb','success', result);
        },
        error: function(xhr,status,error){
          INFO('storePlaybackRateCb','error', xhr,status,error);
        }
      });
      $('#playback_rate_label')[0].innerHTML = 'Speed: ' + video_playback_rate;
    }

    function InitList() {
      INFO("InitList");
      var div_list = document.getElementById('list');

      var list = document.createElement('ol');

      for(var i = 0; i < videos.length; i++) {
          // Create the list item:
          var item = document.createElement('li');
          var publish_date = videos[i].published_at.split(' ')[0];

          // Set its contents:
          item.appendChild(document.createTextNode(videos[i].channel_title + " - " + videos[i].title + " - " + publish_date));

          // Add it to the list:
          list.appendChild(item);
      }

      div_list.appendChild(list);
    }

    function InitSpeechRecognition() {
      speech_recognitier = new YQ_SpeechRecognition(
        {
          'skip' : Skip,
          'end' : End,
          'play' : Play,
          'pause' : Pause,
          'restart' : Restart,
        },
        function(c) {
          var status = speech_recognitier.isListening();
          var elem = document.getElementById('speech_toggle');
          if (status) {
            elem.innerHTML = "Turn Off Speech";
            elem.className  = 'btn btn-speech_stop';
          } else {
            elem.innerHTML = "Turn On Speech";
            elem.className  = 'btn btn-speech_start';
          }
        }
      );
    }

    InitSpeechRecognition();

    FetchVideos(function(){InitPlayer();InitList();});

  </script>
{% endblock %}



{# #####################################BODY########################### #}
{% block body_block %}

<!-- Content Top -->
<div class="content-top">
  <div class="row">
    <div class="channel-selector">
      <form method="get">
        <div class="col-12">
          <ul>
{% for channel in all_channels %}
            <li>
              <label>
  {% if channel.num_remaining_vid > 0 %}
                <span class="counter-badge">{{ channel.num_remaining_vid }}</span>
  {% endif %}
                <img class="channel_thumbnail" src={{ channel.thumbnails }}>
  {% if channel.name in channel_list or not channel_list %}
              <input type="checkbox" checked="True" name="channel" value="{{ channel.name }}">{{ channel.title }}
  {% else %}
              <input type="checkbox" name="channel" value="{{ channel.name }}">{{ channel.title }}
  {% endif %}
              </label>
            </li>
{% endfor %}
          </ul>
        </div>
        <div class="col-2">
          <input class="btn" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Content Center -->
<div class="content-center">
  <div class="row">
    <div class="col-12">
      <div class="video-title-container">
        <h2 id="video-title"></h2>
        <h4 id="video-published_at"></h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="player">
        <div>
          <iframe id="player-iframe"
            src="https://www.youtube.com/embed/?enablejsapi=1"
            frameborder="0"
            allowfullscreen="1"
            controls="0"
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <span style="visibility: hidden;">hack</span>
    </div>
    <div class="col-3 action-group">
      <button class="btn btn-skip" onclick="Skip()">Skip</button>
    </div>
    <div class="col-3 action-group">
      <button class="btn btn-end" onclick="End()">End</button>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <span style="visibility: hidden;">hack</span>
    </div>
    <div class="col-8 action-group">
      <button id='speech_toggle' class="btn btn-speech_start" onclick="ToggleSpeech()">Turn On Speech</button>
    </div>
    <div class="col-1 tooltip">
      <label>Speech Info:</label>
      <span class="tooltiptext">Accepted commands: Play, Stop, Pause, Restart, Skip, End, Stop Speech</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 playback_rate">
      <label id='playback_rate_label'> Speed: {{ preferences.video_playback_rate }}</label>
    </div>
  </div>

</div>

<!-- Content Bottom -->
<div class="content-bottom">
  <div class="row">
    <div class="col-12">
      <div id="list"></div>
    </div>
  </div>
</div>

{% endblock %}
